* {
  margin: 0;
}

:root {
  --primary-color: #4caf50;
  --secondary-color: #f8f3f3;
  --bg-color: #ffdad9;
}

.app-init {}

.app-init .btn-primary {
  color: #fff;
  background-color: #8bc34a;
  border-color: #74a937;
}

.app-init .btn {
  padding: .2rem .5rem;
  font-size: 0.9rem;
  border-radius: .25rem;
}


.custom-loader {
  display: flex;
  justify-content: center;
}

h1 {
  border-bottom: 1px solid;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  color: #616665;
}

h5 {
  font-size: 15px;
}

.container {
  max-width: 1366px;
  margin: 0 auto;
}


.content-holder-section {
  margin-top: 2rem;
  min-height: 60vh;
}


.footer {
  background: var(--secondary-color);
  padding: 1rem;
  /* position: fixed; */
  width: 100%;
  bottom: 0;
}

.footer p {}

::selection {
  color: #fff;
  background: var(--primary-color);
}