* {
  margin: 0;
}

:root {
  --primary-color: #4caf50;
  --secondary-color: #f8f3f3;
  --bg-color: #ffdad9;
}

.app-init {

}

h1 {
  border-bottom: 1px solid;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  color: #616665;
}

.container {
  max-width: 1366px;
  margin: 0 auto;
}


.content-holder-section {
  margin-top: 2rem;
}


.footer {
  background: var(--secondary-color);
  padding: 1rem;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.footer p {

}